Source: modbus-utils-rpc
Maintainer: Wiren Board team <info@wirenboard.com>
Section: python
Priority: optional
X-Python3-Version: >= 3.9
Build-Depends: python3,
               python3-setuptools,
               debhelper (>= 9),
               dh-python,
               python3-pytest,
               python3-umodbus (>=1.0.4-1+wb1),
               python3-wb-common (>=2.1.0),
               python3-mqttrpc(>=1.1.2),
               python3-pytest-mock,
               python3-tomli
Standards-Version: 3.9.1
Homepage: https://github.com/wirenboard/modbus-utils-rpc

Package: modbus-utils-rpc
Architecture: all
Breaks: python3-modbus-utils-rpc
Replaces: python3-modbus-utils-rpc
Provides: python3-modbus-utils-rpc
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-umodbus (>=1.0.4-1+wb1),
         python3-wb-common (>=2.1.0),
         python3-mqttrpc(>=1.1.2),
         wb-mqtt-serial (>=2.74.0~~)
Description: Wiren Board modbus utility using RPC (python 3)
 A command-line tool used for modbus RPC requests to wb-mqtt-serial.
